Source: ros-indigo-zbar-ros
Section: misc
Priority: extra
Maintainer: Paul Bovbel <pbovbel@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), libzbar-dev, ros-indigo-catkin, ros-indigo-cv-bridge, ros-indigo-nodelet, ros-indigo-roscpp, ros-indigo-roslint
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-zbar-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libzbar-dev, ros-indigo-cv-bridge, ros-indigo-nodelet, ros-indigo-roscpp
Description: Lightweight ROS wrapper for Zbar barcode/qrcode reader library (http://zbar.sourceforge .net/)
